#title {
    text-align: center;
}

#nav {
    text-align: right;
}

li {
    list-style: none;
}

li.odd {
    background-color: aqua;
}

li.even {
    background-color: aquamarine;
}